<!-- detect.launch -->
<launch>

  <!-- <env name="PYTHONPATH" value="$(env PYTHONPATH):$(find image_detection_with_unknowns)/scripts" /> -->
  <!-- Launch the gemini bridge -->

  <arg name="clip_model" default="$(find image_detection_with_unknowns)/scripts/checkpoints/mobileclip_s0.pt"/>
  <arg name="root_dir" default="$(find image_detection_with_unknowns)/src/mobileclip"/>

  <node name="test" pkg="image_detection_with_unknowns" type="test.py" output="screen">
    <param name="clip_model" value="$(arg clip_model)" />
    <param name="root_dir" value="$(arg root_dir)" />
  </node>


</launch>